.update-images {
  background-color: #4c516d;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.update-images .form-card {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgb(255, 255, 255) 5px 5px, rgba(240, 235, 235, 0.3) 10px 10px,
  rgba(199, 197, 197, 0.2) 15px 15px, rgba(150, 148, 148, 0.1) 20px 20px,
  rgba(139, 138, 138, 0.05) 25px 25px;  transition: all 0.3s ease;
  max-width: 800px;
  width: 100%;
  margin: 20px;
}

.update-images .form-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.update-images .ant-btn-primary {
  background-color: #4c516d;
  border-color: #4c516d;
  color: white;
}

.update-images .ant-btn-danger {
  background-color: red;
  border-color: red;
  color: white;
}

.update-images .ant-btn-dashed {
  border-color: #4c516d;
  color: #4c516d;
}

.update-images .text-xl {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.update-images .font-semibold {
  font-weight: 600;
}

.update-images .mt-4 {
  margin-top: 1rem;
}

.update-images .mb-8 {
  margin-bottom: 2rem;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .update-images .form-card {
    margin: 10px;
  }

  .update-images .ant-col {
    width: 100% !important;
  }

  .update-images .ant-space-item {
    width: 100%;
  }
}
