.table-container {
  padding: 20px;
  margin-top: 100px; /* Added margin-top to move the table down */
}

.update-button {
  background-color: #4c516d;
  color: #fff;
  margin-right: 8px;
}

.update-button:hover {
  background-color: #3a3f52;
}

.delete-button {
  background-color: #ff4d4f;
  color: #fff;
}

.delete-button:hover {
  background-color: #d9363e;
}
