.table-container {
  padding: 20px;
  margin-top: 100px; /* Added margin-top to move the table down */
}

.search-bar-container {
  display: flex;
  justify-content: flex-end; /* Aligns the search bar to the right */
  margin-bottom: 16px;
}

.search-input {
  height: 40px; /* Adjust height if needed */
}

.update-button {
  background-color: #4c516d;
  color: #fff;
  margin-bottom: 5px;
}

.update-button:hover {
  background-color: #3a3f52;
}

.delete-button {
  background-color: #ff4d4f;
  color: #fff;
  margin-left: 3px;
}

.delete-button:hover {
  background-color: #d9363e;
}

.action-buttons-container {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
}

.select-all-button,
.send-email-button {
  background-color: #fff;
  color: #000;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15); /* Slight box shadow */
}

.select-all-button:hover,
.send-email-button:hover {
  background-color: #f0f0f0; /* Slightly darker background on hover */
}
