.floating-navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  max-width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 5px 20px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.navbar-logo img {
  height: 60px;
}

.navbar-signup-button {
  background-color: #4c516d;
  border: none;
  font-weight: bold;
  color: white; /* Ensure the text color is white */
}

.navbar-signup-button:hover {
  background-color: #3a3f52;
}
